<!-- index.html -->
{% extends 'layouts/application.html' %}

{% block content %}
  <main role="main">
    <div id="welfare">
      <div id="messages" class="js-active"><div class="message">Loading Map</div></div>
      <div class="logo"><a href="/"><img src="images/logo.svg" alt="website logo"></a></div>
      <div id="map"></div>
      <div id="info"></div>
      <div id="about">
        <div class="map-about">
          <div class="map-about__grabber"><span class="grabber__handle">‹</span></div>
          <section class="about__inner">
            <h2 class="about-title"></h2>
            <div class="about-desc"></div>
          </section>
        </div>
      </div>
      <div id="map__nav" class="map__nav"></div>
    </div>
  </main>
{% endblock %}

{% block javascript %}
{% endblock %}
