#about {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100%;
  z-index: -1;
  color: #fff;
  padding-top: 20px;
  opacity: 0;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out, opacity 0.6s ease-in-out;
  overflow: scroll;
}

#about.js-active {
  z-index: 3;
  opacity: 1;
  transform: translateY(-100%);
}

.map-about {
  background: rgba(29,29,29,0.95);
  border-top: 2px solid $gold;
  position: relative;
}

.about__inner {
  padding: 8em 5em 5em;
  margin-top: 15px;
  max-width: 720px;
  margin: 0 auto;
}

.map-about__grabber {
  position: absolute;
  z-index: 2;
  display: block;
  width: 3em;
  height: 3em;
  left: 50%;
  top: 0px;
  background: rgba(30,30,30,0.95);
  border: 1px solid $gold;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  &:after {
    content: 'Close';
    font-size: 18px;
    text-transform: uppercase;
    color: $gold;
    position: absolute;
    width: 60px;
    bottom: -30px;
    left: -11px;
    transition: opacity 0.5s ease-in-out;
  }
  .grabber__handle {
    color: $gold;
    transform: translate(-50%, -50%) rotate(-90deg);
  }
}

.about-title {
  font-family: $font__light;
  font-size: 48px;
  line-height: 1.5;
  text-transform: capitalize;
  margin: 0;
}

.about-desc {
  font-family: $font__light;
  font-size: 18px;
  line-height: 1.5;
  a {
    text-decoration: none;
    color: #FFF;
    border-bottom: 1px solid #FFF;
  }
}
