%nav-arrow {
  position: relative;
  z-index: 2;
  &:after {
    content: '';
    display: block;
    border: 7px solid transparent;
    border-left: 7px solid $darkGrey;
    position: absolute;
    right: -14px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.map__nav {
  position: absolute;
  display: flex; // flex container
  z-index: 4;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  border-top: 0.4em solid $red;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  transition: left 0.3s linear, width 0.3s linear;
  > * {
    height: 150px;
  }
  &.buildings {
    left: -150px;
    width: calc(100% + 150px);
  }
  &.housing {
    left: -300px;
    width: calc(100% + 300px);
  }
}

.map__nav__item-wrapper {
  display: flex;
  flex: 0 0 150px;
  overflow: hidden;
  position: relative;
  > * {
    height: 150px;
  }
}

.map__nav__item__inner {
  display: none;
  vertical-align: top;
  margin-left: -3px;
}

.map__nav__item--category {
  display: flex;
  height: 100%;
  flex: 0 0 150px;
  cursor: pointer;
}

.category__inner {
  display: none;
  width: 0;
  height: 100%;
  margin-left: -3px;
  vertical-align: top;
  overflow: hidden;
}

.about-btn {
  height: 10px;
  position: absolute;
  z-index: 4;
  left: 120px;
  top: 6px;
  width: 23px;
  height: 23px;
  display: block;
  background-image: url('../images/about-icon.svg');
  background-size: contain;
  background-position: center;
}

.map__nav__item--projects {
  .map__nav__item__icon {
    background-image: url('../images/our-projects-icon.svg');
    width: 51px;
  }
}

.map__nav__item--buildings {
  .map__nav__item__icon {
    background-image: url('../images/general-buildings-icon.svg');
    width: 33px;
  }
}

.map__nav__item--housing {
  .map__nav__item__icon {
    background-image: url('../images/housing-study-icon.svg');
    width: 59px;
  }
}

.map__nav__item--layer,
.category-wrapper {
  padding: 3em 3em 0;
  font-family: $font;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.map__nav__item-wrapper--buildings,
.map__nav__item-wrapper--housing {
  .category-wrapper {
    padding: 0;
    .map__nav__item__name {
      font-size: 1.4em;
      text-align: left;
      display: flex;
      height: 100%;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 0 10px;
    }
  }
  .map__nav__item__title {
    justify-content: center;
    align-content: center;
    text-align: center;
  }
}

.map__nav__item-wrapper--buildings {
  .map__nav__item--project {
    font-family: $font__light--fb;
  }
  .category-wrapper {
    padding: 0;
    .map__nav__item__name {
      font-family: $font--fb;
    }
  }
}

.map__nav__item--layer {
  flex: 0 0 150px;
  border-right: 1px solid $red;
  color: #FFF;
}

.map__nav__item__icon {
  display: block;
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto 1em;
  height: 52px;
  transition: all 0.2s ease-in-out;
}

.map__nav__item__name {
  font-size: 1.4em;
  white-space: normal;
}

.map__nav__item--category {
  position: relative;
  vertical-align: top;
}

.category-wrapper {
  flex: 0 0 150px;
  height: 100%;
  vertical-align: top;
  border-right: 1px solid $gold;
  background: #373535;
  color: $red;
  .map__nav__item__name {
    font-size: 1.3em;
  }
}

.category-wrapper--Institutional .map__nav__item__icon {
  background-image: url('../images/Institutional.svg');
  width: 31px;
}

.category-wrapper--Social .map__nav__item__icon {
  background-image: url('../images/Social.svg');
  width: 46px;
}

.category-wrapper--Educational .map__nav__item__icon {
  background-image: url('../images/Educational.svg');
  width: 42px;
}

.category-wrapper--Cultural .map__nav__item__icon {
  background-image: url('../images/Cultural.svg');
  width: 25px;
}

.category-wrapper--Commercial .map__nav__item__icon {
  background-image: url('../images/Commercial.svg');
  width: 34px;
}

.category-wrapper--Religious .map__nav__item__icon {
  background-image: url('../images/Religious.svg');
  width: 38px;
}

.category-wrapper--Residential-Hosh .map__nav__item__icon {
  background-image: url('../images/ResidentialHosh.svg');
  width: 52px;
}

.category-wrapper--Residential .map__nav__item__icon {
  background-image: url('../images/Residential.svg');
  width: 37px;
}

.map__nav__item--project {
  cursor: pointer;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  white-space: normal;
  &:not(last-child) {
    border-right: 1px solid $gold;
  }
}

.map__nav__item__title {
  font-size: 1.4em;
  line-height: 1.2em;
  text-transform: capitalize;
  color: #FFF;
  display: flex;
  width: 150px;
  height: 100%;
  align-items: center;
  padding: 0 15px;
}

// States
.js-view-mode {
  .map__nav {
    background: rgba(0, 0, 0, 1);
  }
}

.js-layerIsOpened {
  overflow: hidden;
  .map__nav__item--layer {
    background: #000;
  }
}

.js-active {
  &.map__nav__item-wrapper {
    width: 100%;
    min-width: 100vw;
  }

  &.map__nav__item--category {
    .category__inner {
      display: flex;
      width: calc(100% - 155px);
      .map__nav__item {
        width: 150px;
      }
    }
    .category-wrapper {
      @extend %nav-arrow;
      border-right: 0;
      &:after {
        border-left: 7px solid #373535;
      }
    }
  }

  &.map__nav__item--project {
    background-color: #4F545D;
  }

  .map__nav__item__inner {
    display: flex;
    width: 100%;
    transition: transform 0.3s linear;
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .map__nav__item--layer {
    @extend %nav-arrow;
    z-index: 3;
  }
  .map__nav__item--layer {
    border-right: 0;
    background-color: #2C2B2B;
  }
}

.js-catIsOpened {
  &.map__nav {
    overflow: hidden;
  }
  .js-active {
    &.map__nav__item--category {
      flex: 0 0 100%;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }

    .map__nav__item__inner {
      overflow: hidden;
      flex-shrink: 0;
    }
    .category__inner {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }
  // &.buildings{
  //   .js-active {
  //     width: calc(100% + 150px);
  //   }
  // }
  // &.buildings{
  //   .js-active {
  //     width: calc(100% + 300px);
  //   }
  // }
}
