<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
  <title>WELFARE</title>
  <link rel="stylesheet" href="https://elasticbeanstalk-us-west-2-759804563210.s3.amazonaws.com/welfare-rev/styles/welfare.css">
  
</head>
<body>
  
  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIFeSNFnuXq-KGGKkqMGGmD82fugLAgi0"></script>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  
  <script src="https://elasticbeanstalk-us-west-2-759804563210.s3.amazonaws.com/welfare-rev/js/vendor/vendor.min.js"></script>
  <script src="https://elasticbeanstalk-us-west-2-759804563210.s3.amazonaws.com/welfare-rev/templates/templates.min.js"></script>
  <script src="https://elasticbeanstalk-us-west-2-759804563210.s3.amazonaws.com/welfare-rev/js/main.min.js"></script>
  
  
</body>
</html>
