<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
  <title>{% block title %}WELFARE{% endblock %}</title>
  <link rel="stylesheet" href="https://elasticbeanstalk-us-west-2-759804563210.s3.amazonaws.com/welfare-rev/styles/welfare.css">
  {% block head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}
  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIFeSNFnuXq-KGGKkqMGGmD82fugLAgi0"></script>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
  {% if env == "production" %}
  <script src="https://elasticbeanstalk-us-west-2-759804563210.s3.amazonaws.com/welfare-rev/js/vendor/vendor.min.js"></script>
  <script src="https://elasticbeanstalk-us-west-2-759804563210.s3.amazonaws.com/welfare-rev/templates/templates.min.js"></script>
  <script src="https://elasticbeanstalk-us-west-2-759804563210.s3.amazonaws.com/welfare-rev/js/all.min.js"></script>
  {% else %}
  <script src="js/vendor/underscore-min.js"></script>
  <script src="js/vendor/handlebars.runtime.min.js"></script>
  <script src="templates/templates.min.js"></script>
  <script src="js/core.js"></script>
  <script src="js/shell.js"></script>
  <script src="js/welfare.js"></script>
  <script src="js/map.styles.js"></script>
  <script src="js/welfare.map.js"></script>
  <script src="js/welfare.map.overlay.js"></script>
  <script src="js/welfare.nav.js"></script>
  <script src="js/welfare.about.js"></script>
  <script src="js/welfare.info.js"></script>
  <script src="js/welfare.messages.js"></script>
  <script src="js/main.js"></script>
  {% endif %}
  {% block javascript %}{% endblock %}
</body>
</html>
